*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(19, 18, 18);
}
img{
    cursor: pointer;
}
nav{
    padding: 1% 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fffdfd;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.flex{
display: flex;
align-items: center;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
width: 35px;
margin-right: 0;
    border-radius: 50%;
}
.menu-icon{
width: 22px;
margin-right: 25px;
}
.logo{
width: 100px;

}
.mic-icon{
    width: 16px ;
}
.search-box{
    border: 2px solid rgb(185, 166, 166);
    border-radius: 10px;
    padding: 8px 12px ;
    margin-right: 12px;
}

.search-box input{
    width: 350px;
    background: transparent;
    border: 0;
    outline: 0;
}
.search-box img{
    width: 16px;
}
.sidebar{
    width: 16.5%;
    height: 100vh;
    background-color: white;
    padding-left: 2%;
    padding-top: 15px;
    position: fixed;
    top: 0;
    overflow: scroll;
    margin-top: 60px;
}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut-links a{
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut-links a:first-child{
    color: #d6342f;
}
.shortcut-links a:hover{
    color: #e01a13;
    font-size: 90%;
    
}
hr{
margin: 5px 0;
    border: 0px;
    height: 1px;
    width: 90%;
    background: rgb(182, 174, 174);
}
.subscribed-list h3{
font-size: 15px;
    margin: 15px 0;
    color: #807878;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* margin-top: 20px; */
    flex-wrap: wrap;
    width: fit-content;
}
.subscribed-list a img{
    border-radius: 50%;
    width: 25px;
    margin-right: 20px;
}
.sidebar2{
    width: 5%;
    padding: 15px;
}
.sidebar2 a p{
    display: none;
}
.sidebar2 h3{
    display: none;
}
.sidebar2 hr{
    width: 90%;
    margin-bottom: 20px;
    }
.container{
    background: #f9f9f9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 17%;
    padding-right: 2%;
}
.large-container{
    padding-left: 7%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 10px;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.thumbnail{
width: 100%;
border-radius: 5%;
}
.vid-list .flex{
    margin-top: 7px;
    align-items: flex-start;
}
.vid-list .flex img{
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.vid-info{
    color: #5a5a5a;
    font-size: 13px;
}
.vid-info a{
    color: #000;
    font-weight: 600;
}
@media(max-width: 900px){
    .menu-icon{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .container, .large-container{
        padding-left: 5%;
        padding-right: 5%;
    
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .nav-mid .search-box input{
        width: 150px;
    }
    .nav-mid .mic-icon{
        display: none;
    }
    .logo{
        width: 80px;
    }
}
 .p-c{
     padding-left: 2%;
 }
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 63%;
}
.right-sidebar{
    flex-basis: 36%;
}
.play-video video{
    width: 100%;
}
.video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.video-list img{
    width: 98%;
}
.video-list .small-thumb{
    flex-basis: 49%;
}
.video-list .vid-info{
    flex-basis: 49%;
}
.tags a{
    color: #0000ff;
    font-size: 13px;
}
.play-video h3{
    font-size: 22px;
    font-weight: 600;
    padding-top: 6px;
}
.play-video .video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video .video-info a img{
    width: 20px;
    margin-right: 5px;
}
.play-video .video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    border-radius: 50%;
    width: 40px;
    margin-right: 15px;
}
.publisher div p{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.publisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.publisher button{
    background: #bb433e;
    color: whitesmoke;
    padding: 7px 22px;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.publisher button:hover{
    outline: 2px solid rgb(216, 14, 14)
}
.vid-description{
    padding-left: 55px;
    margin: 10px 0;
}
.vid-description p{
    font-size: 16px;
    color: #1a1616;
    margin-bottom: 5px;
}
h4{
    font-size: 15px;
    color: #352b2b;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    width: 85%;
    padding-top: 5px;
    border-bottom: 1px solid rgb(70, 64, 64) ;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    margin-left: 8px;
    font-weight: 500;
}
.comment-action{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 8px 0;
}
.comment-action img{
    width: 20px;
    margin-right: 5px;
    border-radius: 0;
}
.comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}
.comment-action a{
    color: rgb(48, 60, 224);
}
@media (max-width:900px){
    .play-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .p-c{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video .video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}



